*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#10182F;
    color: #F2AA4C;
    font-family: 'Raleway', sans-serif;
}
h1{
    margin-top: 70px;
    text-align: center;
}

.sketch-pad-container{
    display: flex;
    justify-content: center;
    margin-top: 100px
}

.options-container{
    margin-right: 20px;
}

.sketch-pad{
    border: solid #F2AA4C 5px;
    box-shadow: grey 0 5px 4px 2px;
    width: 500px;
    height: 510px;
    background-color: white;
}

.sketch-row{
    display: flex;
    justify-content: space-evenly;
}

button{
    width: 120px;
    height: 45px;
    border: solid #F2AA4C 4px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

button:focus{
    background: wheat;
    outline: none;
    box-shadow: white 0px 0px 10px;
}


#clear{
    margin-top: 130px;
    background-color: #F2AA4C;
}

#clear:focus{
    background-color: #F2AA4C;
    box-shadow: none;
}


#clear:hover, button:hover{
    background-color: wheat;
    cursor: pointer;
}

.canvas-size-container{
    display: flex;
    margin-top: 50px;
    padding-left: 145px;
    justify-content: center;
    align-items: center;
}

input[type = "range"]{
    appearance: none;
    background: wheat;
    width: 240px;
    height: 4px;
    cursor:grab;
    border-radius: 10px;
    outline:none;
}

input[type = "range"]:active{
    cursor: grabbing;
}   

@media screen and (max-width: 560px){
    .sketch-pad{
        width: 90vw;
        height: 510px;
    }

    .sketch-pad-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .options-container{
        display: flex;
        justify-content: space-around;
    }

    input[type = "color"]{
        border: 0;
        padding:0;
        background: none;
    }

    #clear{
        display: none;
    }

    button{
        width: 17vw;
        font-size: .1rem;
    }

    .canvas-size-container{
        width: 60%;
        margin-bottom: 5vh;
    }
}
